@model UrlShortenerDAL.Models.LinkModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LinkModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.TextBoxFor(model => model.Url, new { @readonly = true, @class = "form-control" })
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Original)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Original)
        </dd>
    </dl>
</div>
<div><a asp-action="List">Back to List</a>
</div>
